*{
    background-color: pink;
}
#enter {
    position: absolute;
    top:50% ;
    left: 50% ;
    transform: translate(-50% ,-50%  );
}
#social , #search , #bg , footer{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#bg{
    height: 40px;
}
#search {
    top:60% ;
}

#bg {
    top:70% ;
}

footer {
    top:90% ;
}
table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    outline: black solid 10px;
}
table , th , td , footer {
  border: 2px solid red;
  border-collapse: collapse;
  padding: 10px;
}
